@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;
}

.subtitle {
    font-size: 24px;
    margin-bottom: 1rem;

    @media(width >= 1024px) {
        font-size: 36px;
    }
}

.contenedor {
    width: 80%;
    margin-inline: auto;
}
