@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
    --font-figtree: "Figtree", sans-serif;
}

html {
    font-family: var(--font-figtree);
}

.subtitle {
    font-size: 24px;
    margin-bottom: 1rem;

    @media(width >= 1024px) {
        font-size: 36px;
    }
}

.contenedor {
    width: 80%;
    margin-inline: auto;
}
