@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
    --font-figtree: "Figtree", sans-serif;
}

html {
    font-family: var(--font-figtree);
}

.contenedor {
    width: 90%;
    max-width: 1280px;
    margin-inline: auto;
}
