---
import Faq from "../../components/common/Faq.astro";

---

<section class="py-10">
    <div class="contenedor">

        <header class="flex flex-col items-center">
            <span class="text-xs text-cyan-700 px-5 py-2 border border-cyan-700 rounded-md block w-fit mb-2">
                FAQ
            </span>
            <h2 class="text-center text-3xl xl:text-4xl 2xl:text-6xl text-cyan-900 font-medium mb-5 leading-snug">
                Preguntas frecuentes
            </h2>
        </header>

        <div class="space-y-5 lg:w-1/2 lg:mx-auto">
            <Faq title="¿Cobran por la asesoría?">
                No, la asesoría no tiene ningún costo. Te ayudamos a revisar tus opciones y comparar bancos sin compromiso.
            </Faq>

            <Faq title="¿Qué necesito para empezar?">
                Lo básico: tu identificación oficial, comprobantes de ingresos y comprobante de domicilio. Si trabajas por tu cuenta, también se puede, solo necesitas algunos documentos diferentes.
            </Faq>

            <Faq title="¿Puedo usar mi crédito Infonavit junto con uno de banco?">
                Sí, se puede. Es lo que se conoce como Cofinavit y es una buena opción para aumentar tu capacidad de compra si no te alcanza solo con Infonavit.
            </Faq>

            <Faq title="¿Y si ya tengo un crédito, lo puedo cambiar?">
                Sí. Hay opciones para mejorar la tasa que estás pagando, aunque ya tengas un crédito vigente. Se revisa tu historial y se puede hacer una transferencia a otro banco.
            </Faq>

            <Faq title="¿Cuánto tardan en darme respuesta?">
                Depende del banco, pero en promedio, entre 24 y 72 horas una vez que entregas tus documentos completos.
            </Faq>

            <Faq title="¿Qué pasa si aún no elijo una casa?">
                No pasa nada, puedes empezar tu trámite y tener tu aprobación lista. Eso te da más seguridad y poder de negociación al buscar vivienda.
            </Faq>

            <Faq title="¿Puedo tramitar un crédito si soy freelance o tengo ingresos mixtos?">
                Sí, claro. Se analizan tus ingresos de forma diferente, pero sí es posible. Solo hay que preparar bien tu expediente.
            </Faq>
        </div>
    </div>

    <div class="flex justify-center mt-10">
        <a href="https://wa.link/znwa88" target="_blank" class="bg-cyan-700 text-white px-4 py-4 rounded-md font-medium">Centro de ayuda</a>
    </div>
</section>