---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import Products from "../components/sections/Products.astro";
import Steps from "../components/sections/Steps.astro";
import Testimonials from "../components/sections/Testimonials.astro";
import Faqs from "../components/sections/Faqs.astro";
import Ally from "../components/sections/Ally.astro";
const title =
	"Mareh Asesores - Encuentra la mejor hipoteca para tu hogar con expertos";
---
<MainLayout title={title}>
	<main>
		<Hero />
		<About />
		<Products />
		<Steps />
		<Testimonials />
		<Faqs />
		<Ally />
	</main>
</MainLayout>