---
const { imagePath, title, link } = Astro.props;
import { Picture } from "astro:assets";
---

<div class="border border-gray-300 p-5 rounded-md hover:shadow-lg transition-shadow duration-300">
    <div class="w-24">
        <Picture src={imagePath} alt="Credit Image" />
    </div>
    <h3 class="font-medium mb-5 lg:text-xl">{title}</h3>
    <slot />
</div>
