---
import Logo from "../assets/logomareh_blanco.svg";
import LogoBlack from "../assets/logomareh_negro.svg";
---

<header class="fixed top-0 left-0 w-full max-h-14 overflow-hidden border-b border-zinc-300 bg-[#F8F9FA]">
    <nav class="w-11/12 mx-auto h-full">
        <section class="flex justify-between items-center h-full">
            <LogoBlack width={70} height={50} />

            <button type="button" id="btn-menu" class="menu-btn" aria-label="Menú">
                <i class="ri-menu-3-line text-2xl"></i>
            </button>
        </section>

        <ul class="space-y-4 text-sm text-center font-medium max-h-0">
            <li><a href="">Inicio</a></li>
            <li><a href="">Nosotros</a></li>
            <li><a href="">Créditos</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="">Noticias</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Simula tu crédito</a></li>
        </ul>
    </nav>
</header>

<script>

</script>